<div class="h-[40vh] w-[20%] op-white flex flex-col justify-around">
    <p class="text-center text-xl font-bold"><%= current_user.username%></p>
    <p class="text-center">Posts so far: <%= current_user.posts.count %></p>
</div>